- name: Check if oh-my-zsh previous installed
  stat: 
    path: ~/.oh-my-zsh
  register: previous_zsh_instalation
  become: false

- name: Cloning  oh-my-zsh
  git:
    repo=https://github.com/robbyrussell/oh-my-zsh
    dest=~/.oh-my-zsh
  register: cloning
  when: previous_zsh_instalation
  become: false

- name: zsh-history-substring-search
  git:
    repo: https://github.com/zsh-users/zsh-history-substring-search.git
    dest: ~/.oh-my-zsh/custom}/plugins/zsh-history-substring-search

- name: zsh-syntax-highlighting
  git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
    dest: ~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting

- name: zsh-autosuggestions
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: ~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

- name: Installing git configfiles
  git:
    repo: https://github.com/.DotFiles.git
    dest: ~/.DotFiles
  ignore_errors: yes

- name: remove zshrc previous config
  file: 
    path: ~/.zshrc 
    state: absent 

- name: zshrc symlink
  file: 
    path: ~/.zshrc 
    src: ~/.DotFiles/.zshrc  
    state: link 
    force: no

- name: Installing zsh completions
  git:
    repo: https://github.com/zsh-users/zsh-completions.git
    dest: ~/.oh-my-zsh/custom/plugins/zsh-completions

- name: Installing zsh-history-substring
  git:
    repo: https://github.com/zsh-users/zsh-history-substring-search.git
    dest: ~/.oh-my-zsh/custom/plugins/zsh-history-substring-search


- name: Installing-pure-prompt
  git:
    repo: https://github.com/sindresorhus/pure.git
    dest: ~/.zsh/pure
    version: main

- name: change shell to zsh
  shell: "chsh -s /usr/bin/zsh"
  become: true
